altgraph==0.17.5
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
click==8.5.0
ddddocr==1.6.1
fastapi==0.141.1
flatbuffers==25.12.19
greenlet==3.5.6
h11==0.16.0
idna==3.20
numpy==2.5.3
onnxruntime==1.30.0
opencv-python==5.0.0.93
packaging==26.3
pefile==2024.8.26
pillow==12.3.0
playwright==1.63.0
protobuf==7.36.2
pydantic==2.13.5
pydantic_core==2.46.5
pyee==13.0.1
pyinstaller==6.22.3
pyinstaller-hooks-contrib==2026.7
pywin32-ctypes==0.2.3
setuptools==84.0.0
starlette==1.7.0
typing-inspection==0.4.4
typing_extensions==4.16.0
uvicorn==0.54.0
